.header-page {
  margin-bottom: 25px;
}

/* flex styles like classes */

.display-flex {
  display: flex;
  flex: 1 1 auto;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-inverse {
  flex-direction: row-reverse;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.item-margin-left {
  margin-left: 5px;
}

.item-margin-top {
  margin-top: 5px;
}

.item-margin-bottom {
  margin-bottom: 5px;
}

.item-margin {
  margin: 10px;
}

.item-padding {
  padding: 10px;
}

.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}
.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}
.isa_error {
  color: #d8000c;
  background-color: #ffd2d2;
}

.info {
  color: #00529b;
}
.success {
  color: #4f8a10;
}
.warning {
  color: #9f6000;
}
.error {
  color: #d8000c;
}
