.header-page {
  margin-bottom: 25px;
}

/* flex styles like classes */

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-inverse {
  flex-direction: row-reverse;
}

.justify-content-space-between {
  justify-content: space-between;
}


.justify-content-center {
  justify-content: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-flex-end{
  justify-content: flex-end;
}

.justify-content-flex-start{
  justify-content: flex-start;
}

.item-margin-left{
  margin-left: 5px;
}

.item-margin-top{
  margin-top: 5px;
}

.item-margin-bottom{
  margin-bottom: 5px;
}

.item-margin {
  margin: 10px;
}

.item-padding {
  padding: 10px;
}

.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.info {
  color: #00529B;
}
.success {
  color: #4F8A10;
}
.warning {
  color: #9F6000;
}
.error {
  color: #D8000C;
}
